<style type="text/css">
   #out2 img {
      height: 130px;
      width: 130px;
    }
</style>
<div id="page-container" style="margin-top: 100px;">  
  <div id="content-wrap">


  <div class="container-fluid text-center text-primary my-4">
    <h1 id="head">Relative Chords</h1>
  </div>

<div id="btns" class="container-fluid text-center mt-4">
  <button id="C" class="btn btn-outline-primary">C</button>
  <button id="C#" class="btn btn-outline-primary">C#</button>
  <button id="D" class="btn btn-outline-primary">D</button>
  <button id="D#" class="btn btn-outline-primary">D#</button>
  <button id="E" class="btn btn-outline-primary">E</button>
  <button id="F" class="btn btn-outline-primary">F</button>
  <button id="F#" class="btn btn-outline-primary">F#</button>
  <button id="G" class="btn btn-outline-primary">G</button>
  <button id="G#" class="btn btn-outline-primary">G#</button>
  <button id="A" class="btn btn-outline-primary">A</button>
  <button id="A#" class="btn btn-outline-primary">A#</button>
  <button id="B" class="btn btn-outline-primary">B</button>
</div>
  <h3 id="out" class="container-fluid text-center my-5"></h3>
  <div id="elmout" class="container-fluid text-center mt-4">
    <button id="elm" class="btn btn-primary">View Chord Shapes</button>
    <button id="elm2" class="btn btn-primary">Hide Chords</button>
  </div>
  <div id="border" class="container-fluid text-center"></div>


  <div id="out2" class="container-fluid text-center my-4"></div>

  <hr>
<div class="container-fluid text-left mt-4">
    <h3 class="text-center">SearchForTabs</h3>
      <script async src="https://cse.google.com/cse.js?cx=002774211072833269488:faviknzt6dy"></script>
      <div class="gcse-search"></div>
</div>

<div id="page">
  
</div>
</div>


<script type="text/javascript" src="relative.js"></script>