  <section class="header" id="home">
      <div class="container">
        <div class="row my-5">
          <div class="col-md-4  col-12 " id="header-content">
            <h4>Hello Everyone</h4>
            <h2 class="my-3">I  am  Grace </h2>
            <p class="my-3">A Musician and A Web Developer</p>
            <div class="navBtns my-3">
              <a href="#about" class="btn btn-primary mx-2" id="btnCustom1">About Me</a>
              <a href="#contact" class="btn btn-outline-primary mx-2" id="btnCustom2">Contact Me</a>
            </div>
          </div>

          <div class="col-md-4 col-12 ">
           <img src="./img/website/fullimg.png" class="img-fluid">
          </div>
        </div>
      </div>
    </section>


    <center><hr class="w-75"></center>

    <section class="aboutus" id="about">
      <div class="container">
        <div class="row">
          
          <div class="card mb-3" style="max-width: 100%;">
            
            <div class="col-md-10 mx-auto">
              <div class="card-body">
                <h2 class="card-title text-center mb-4">About Me</h2>
                <p class="card-text text-muted">Welcome to my offical site. I am A musician and Web developer as well. I working on the web apps with will help musician in their learning. Hope you all will like it. You can <a href="#">contact me</a> in different ways.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </section>


     <center><hr class="w-75"></center>


    <section class="contactus" id="contact">
      <div class="container">
        <div class="row">
          
          <div class="card mb-3" style="max-width: 100%;">
            
            <div class="col-md-10 mx-auto">
              <div class="card-body">
                <h2 class="card-title text-center mb-4">Contact Me</h2>
                <p class="card-text text-muted">
                  <div class="row">
                    
                    <div class="col-md-4 col-12 text-md-right text-center ml-md-0 ml-3">
                       <a href="https://www.facebook.com/grace.rasaily.9/" target="_blank"><i class="fab fa-facebook mt-3"></i></a>
                    </div>

                    <div class="col-md-4 col-12 text-md-center text-center ml-md-0 ml-3">
                      <a href="#"><i class="fab fa-instagram mt-3"></i></a>
                    </div>

                    <div class="col-md-4 col-12 text-md-left text-center ml-md-0 ml-3">
                      <a href="https://github.com/Grace-Rasaily780" target="_blank"><i class="fab fa-github mt-3"></i></a>
                    </div>
                 
                  </div>
                 
                  
                  
                 <!--  <a href="#" class="btn btn-outline-primary"><i class="fa fa-gmail"></i></a> -->
               
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </section>


<center><hr class="w-75"></center>

